@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
}

.cabeçalho {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 24px;
    gap: 1100px;
}

.titulo {
    font-family: Brush Script mt;
    text-align: center;
    font-size: 200px;
    color: black;
    padding-bottom: 0.9px:
}

.cabeçalho-menu{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 50px;   
}

.conteudo {
    border-top: 20px solid antiquewhite;
    background-color: black;
    padding-bottom: 50px;
}

.trecho-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 50px;
}

.trecho-1-texto {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.trecho-1-texto-titulo{
    font-family: 'Righteous', sans-serif;
    font-weight: 400;
    font-size: 150px;
    color: antiquewhite;
}

.trecho-1-texto-subtitulo{
    font-family: 'Righteous', sans-serif;
    font-weight: 300;
    font-size: 100px;
    color: antiquewhite;
}

.imagem-1{
    height: 1200px;
    width: 2000px;
    
}

.trecho-2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 50px;
}

.trecho-2-texto {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.trecho-2-texto-titulo{
    border-top: solid antiquewhite;
    font-family: 'Righteous', sans-serif;
    font-size: 150px;
    color: antiquewhite;
    padding: 48px;
}

.trecho-2-texto-subtitulo{
    font-family: 'Righteous', sans-serif;
    font-weight: 300;
    font-size: 100px;
    color: antiquewhite;
}

.imagem-2{
    height: 1200px;
    width: 2000px;
}

.botão-consulta{
    padding: 150px;
    background-color: black;
    border-top: solid antiquewhite;
}

.botão-consulta-texto{
    padding: 50px;
    font-size: 100px;
    font-family: 'Righteous', sans-serif;
    text-align: center;
    color: antiquewhite;
    background-color: gray;
    border: none;
    border-radius: 100px;
}

.botão-consulta-texto:hover{
    background-color: rgb(54,54,54);
}
